@font-face {
  font-family: 'get-2-m';
  src: url("../font/GESSTwoMedium-Medium/GESSTwoMedium-Medium.eot") format("embedded-opentype"),
  url("../font/GESSTwoMedium-Medium/GESSTwoMedium-Medium.otf") format("otf"),
  url("../font/GESSTwoMedium-Medium/GESSTwoMedium-Medium.svg") format("svg"),
  url("../font/GESSTwoMedium-Medium/GESSTwoMedium-Medium.ttf") format("truetype"),
  url("../font/GESSTwoMedium-Medium/GESSTwoMedium-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'get-2-l';
  src: url("../font/GESSTwoLight-Light/GESSTwoLight-Light.eot") format("embedded-opentype"),
  url("../font/GESSTwoLight-Light/GESSTwoLight-Light.otf") format("otf"),
  url("../font/GESSTwoLight-Light/GESSTwoLight-Light.svg") format("svg"),
  url("../font/GESSTwoLight-Light/GESSTwoLight-Light.ttf") format("truetype"),
  url("../font/GESSTwoLight-Light/GESSTwoLight-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato-b';
  src: url("../font/Lato-Bold/Lato-Bold.eot") format("embedded-opentype"),
  url("../font/Lato-Bold/Lato-Bold.svg") format("svg"),
  url("../font/Lato-Bold/Lato-Bold.ttf") format("truetype"),
  url("../font/Lato-Bold/Lato-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato-semibold';
  src: url("../font/Lato-semibold/Lato-semibold.eot") format("embedded-opentype"),
  url("../font/Lato-semibold/Lato-semibold.svg") format("svg"),
  url("../font/Lato-semibold/Lato-semibold.ttf") format("truetype"),
  url("../font/Lato-semibold/Lato-semibold.woff") format("woff");
}

@font-face {
  font-family: 'lato-m';
  src: url("../font/Lato-Medium/Lato-Medium.eot") format("embedded-opentype"),
  url("../font/Lato-Medium/Lato-Medium.svg") format("svg"),
  url("../font/Lato-Medium/Lato-Medium.ttf") format("truetype"),
  url("../font/Lato-Medium/Lato-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$red: #e4364d;
$white-4: rgba(255, 255, 255, 0.4);
$black-4: rgba(#000, 0.4);
$white: #ffffff;
$black: #000000;
body {
  font-family: 'get-2-m', sans-serif;
  color: $white;
  font-size: 14px;
  direction: rtl;
}

button, input {
  background: transparent;
  border: none;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header {
  position: relative;
  z-index: 100;
  width: 100%;
  i {
    color: white;
    font-size: 16px;
  }
}

.container {
  width: 90vw;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.main-title-font {
  font-family: 'get-2-m';
  font-size: 36px;
}

.second-title-font {
  font-family: 'get-2-l';
  font-size: 18px;
}

.third-title-font {
  font-family: 'get-2-m';
  font-size: 48px;
}

.white-opacity-color {
  color: rgba($white, 0.5);
}

.black-color {
  color: $black;
}

section {
  overflow: hidden;
  position: relative;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.d-inline-block {
  display: inline-block;
}

.padding-section {
  padding-top: 90px;
}

.logo {
  width: 77px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.nav {
  padding: 20px 0;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .menu {
      display: flex;
      > li {
        display: inline-block;
        &:not(:last-of-type) {
          margin-left: 40px;
        }
        > a {
          padding-bottom: 25px;

          &:hover {
            color: #e4364d ;
          }
        }
      }
    }
    .icon-bar {
      cursor: pointer;
      vertical-align: middle;
      display: none;
      i {
        font-size: 22px;
      }

    }
    .btn-search {
      padding: 5px 0;
    }
    .search-icon {
      input {
        color: $white;
      }
    }
    .search-form {
      display: flex;
      width: auto;
      position: relative;
      button {
        background: transparent;
        z-index: 10;
      }
      input {
        position: absolute;
        left: 0;
        width: 150px;
        height: 29px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        font-family: 'get-2-m', sans-serif;
        display: none;
      }
    }
  }
  .search-page {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    font-size: 0;
    margin: 60px 0;
    display: none;
    input {
      width: calc(100% - 35px);
      color: #ffffff;
      &::placeholder {
        color: rgba(255, 255, 255, 0.1);
      }
    }
    button {
      width: 35px;
    }
  }
}

.search-section {
  background: #1F232A;
  .cards .card .title-card p {
    color: #fff;
  }
  .search-page {
    width: 100%;
    font-size: 0;
    margin-top: 40px;
    padding-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 999;
    background: #1F232A;
    form {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding: 16px 0 9px;
    }
    input {
      width: calc(100% - 35px);
      color: rgba(255, 255, 255, 0.1);
      &::placeholder {
        color: rgba(255, 255, 255, 0.1);
      }
    }
    button {
      width: 35px;
      color: white;
      font-size: 16px;
    }
  }
}

footer {
  background: white;
  .top {
    display: flex;
    padding-top: 72px;

    .sup-category {
      width: 100%;
      ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-right: 100px;
        li:nth-child(5) {
          width: calc(((100%) / 6) * 2);
        }
      }
      ul > li {
        display: inline-block;
        width: calc((100%) / 6);
        margin-bottom: 30px;
        &:hover a, &:hover p {
          color: black;
        }
        &:hover span {
          color: $red;
        }

        a {
          color: $black-4;
          font-size: 16px;
        }
        p {
          color: $black-4;
          font-size: 14px;
          span {
            padding-left: 10px;
            font-family: lato-b;
          }
        }
      }

    }
  }
  .bottom {
    padding: 20px 0 15px 0;
    border-top: 3px solid $red;
    background: #2e353e;
    font-size: 0;
    .right {

      a {
        font-size: 12px;
        display: inline-block;
        margin-left: 40px;
        font-family: 'get-2-l', sans-serif;
      }
    }
    .left {
      text-align: left;
      direction: ltr;
      a {
        font-size: 12px;
        display: inline-block;
        margin-right: 40px;
        font-family: lato-m, sans-serif;
      }

    }

  }
  .logo {
    align-self: flex-start;
    margin-bottom: 73px;
  }
}

#wrapper-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > section, > div {
    &:first-child {
      flex: 1;
    }
  }
}

section {
  width: 100%;
}

.title-section {
  line-height: 1;
  margin-bottom: 10px;
}

.social-icon {
  a:hover {
    color: $red;
  }
}

.under-line {
  width: 23px;
  border-top: 3px solid $red;
  margin-bottom: 50px;
}

.cards {
  margin: 0 -8px;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .card {
    transform: translateY(10px);
    opacity: 0;
    transition: 1s;
    width: calc(33.33% - 16px);
    display: inline-block;
    overflow: hidden;
    margin: 0 8px 20px;
    .img-card {
      position: relative;
      max-height: 232px;
      overflow: hidden;
      .play-card {
        width: 56px;
        height: 56px;
        border-radius: 100%;
        overflow: hidden;
        display: inline-block;
        position: absolute;
        top: calc(50% - 28px);
        left: calc(50% - 28px);
        z-index: 1;
        background: white;
        i {
          color: $red;
          font-size: 20px;

        }
      }
      .over-video {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 48px;
        .title {
          background: $red;
          padding: 11px 25px;
          height: 100%;
          img {
            width: auto;
            vertical-align: middle;
            margin-left: 10px;
          }
          span {
            vertical-align: middle;
          }
        }
        .hover-card {
          background: #1c2026;;
          padding: 10px 25px;
          float: left;
          display: none;
          height: 100%;
          a {
            font-size: 14px;
          }
        }
      }
      &:hover {
        .hover-card {
          display: flex;
          align-items: center;
        }
        a img {
          transform: scale(1.2);
          transition: 0.5s;
        }
      }
      img {
        width: 100%;
        transition: 0.5s;
      }
    }
    .title-card {
      padding-top: 15px;
      p {
        color: #1c2026;
      }
    }
  }
  .btn-more {
    text-align: center;
    .more {
      background: $red;
      font-size: 16px;
      color: white;
      padding: 11px 30px;
      margin-top: 30px;
      font-family: 'get-2-m', sans-serif;
    }
  }

}

.video-details {
  margin-top: 100px;
  padding-bottom: 90px;
  background: url(../img/latest-bg.png);
  margin-bottom: -50px;
  //+ .subscribe {
  //  .bg-center {
  //    top: 11%;
  //    height: 78%;
  //  }
  //}
}

.hover-card {
  .icon-facebook {
    margin-right: 5px;
  }
}

.subscribe {
  position: relative;
  .bg-center {
    position: absolute;
    height: 78%;
    top: 11%;
    width: 100%;
    background-image: url("../img/subscribe.png");
    background-size: cover;
    background-position: bottom;
  }
  .container {
    display: flex;
    align-items: center;
    .images, .text-container {
      width: 50%;
      z-index: 1;
    }
    .images {
      text-align: left;
      position: relative;
      img {
        max-width: 100%;
        z-index: 1;
      }
    }
    .text-container {
      position: relative;
      .text {
        min-width: 48%;
        margin-right: 177px;
        .main-title-font {
          margin-bottom: 10px;
        }
        .second-title-font {
          color: $white-4;
        }
        .message {
          padding: 30px 0;
          color: $red;
        }
        .social {
          display: flex;
          width: 66%;
          a {
            font-family: 'lato-m', sans-serif;
            color: $white-4;
            text-transform: uppercase;
            font-size: 12px;
            margin-left: 40px;
            &:hover {
              color: white;

            }
          }
        }

        form {
          font-size: 0;
          margin: 25px 0;
          width: 65%;
          display: flex;
          min-width: 300px;
          input {
            background: #252D39;
            padding: 10px 10px;
            vertical-align: top;
            width: calc(100% - 50px);
            color: white;
            font-size: 12px;
            font-family: 'get-2-m', sans-serif;
          }
          button {
            background: white;
            width: 50px;
            i {
              font-size: initial;
              color: $red;
            }
          }
        }
      }

    }
  }
}

video {
  width: 100%;
}

.green {
  margin-bottom: 20px;
}

.red {
  position: absolute;
  top: 100px;
  left: 15%;
}

.search-page {
  .container {
    position: relative;
    .red {
      position: absolute;
      left: 10%;
      top: -60px;
    }
  }
}

.d-none {
  display: none;
}

.play-card {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  z-index: 1;
  background: white;
  i {
    color: $red;
    font-size: 20px;
  }
}

.video-section {
  background: url("../img/Group 1.png") no-repeat;
  background-size: 100% calc(50% + 30px);
  &.open {
    background-size: 100% calc(50% + 125px);
  }
  .video-card {
    position: relative;
    .video {
      font-size: 0;
      video {
        width: 100%;

      }
    }
    .play-card {
      width: 56px;
      height: 56px;
      border-radius: 100%;
      overflow: hidden;
      display: inline-block;
      position: absolute;
      top: calc(50% - 28px);
      left: calc(50% - 28px);
      z-index: 1;
      background: white;
      i {
        color: $red;
        font-size: 20px;
      }
    }

    .over-video {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 48px;
      .title {
        background: #e4364d;
        padding: 11px 25px;
        height: 100%;
        img {
          width: auto;
          vertical-align: middle;
          margin-left: 10px;
        }
        span {
          vertical-align: middle;
        }
      }
      .hover-card {
        background: #1c2026;
        padding: 10px 25px;
        float: left;
        height: 100%;
        display: flex;
        align-items: center
      }

    }

  }
  .title-card {
    padding-top: 30px;
    p {
      color: #1c2026;
      font-size: 24px;
      height: 36px;
      overflow: hidden;
    }
  }
}

.position-relative {
  position: relative;
}

.category {
  background: url("../img/category-bg-1.png");
  background-size: cover;
  .sliderContainer {
    padding-top: 80px;
  }
  .gallery-top {
    img {
      width: 100%;
    }
  }

  .position-relative {
    padding: 0 40px;
    width: 42%;
    margin: 50px auto;
  }
  .gallery-thumbs {
    .swiper-slide {
      overflow: hidden;
      opacity: 0.3;
      &.swiper-slide-active {
        opacity: 1;
      }
    }
  }
  .swiper-button-white {
    background-image: none;
    width: 14px;
    height: 14px;
    top: auto;
    bottom: calc(50% - 7px);
  }
  .below-video {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > div {
      align-self: flex-start;
      span {
        vertical-align: middle;
      }
    }
    .ball-icon {
      vertical-align: middle;
      width: 50px;
      margin-left: 20px;
    }
  }
  .total-videos {
    font-size: 22px;
    span {
      font-family: 'lato-b';
    }
  }
}

.category-videos {
  background: url("../img/category-videos.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.error-img {
  text-align: center;
  margin-bottom: 20px;
  img {
    width: 28%;
    min-width: 223px;
  }

}

.error-content {
  max-width: 310px;
  margin: auto;
  text-align: center;
  span {
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      width: 26px;
      height: 3px;
      left: calc(50% - 13px);
      bottom: -17px;
      background-color: $red;
    }
  }
  p {

    &:last-of-type {
      margin-top: 30px;
      color: #61C3AD;
    }
    &:first-of-type {
      color: white;
      font-family: 'get-2-l', sans-serif;
    }
  }
  .first-para {
    font-family: 'get-2-l';

  }
}

.error {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background: url("../img/commonBg2.png");
  background-position: right;
  background-size: cover;
  header {
    width: 100%;
    align-self: flex-start;
  }

  .nav {
    display: flex !important;
  }
  &.E500 {
    .error-content {
      p {
        &:first-of-type {
          text-align: right;
        }
      }
    }
  }
}

.menu-responsive {
  /*background: #1F232A;*/
  display: none;
  min-height: calc(100vh - 80px);
  .items {
    li {
      display: block;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding: 20px 0;
      &:first-child {
        border-top: none;
      }
      a {
        font-size: 24px;
        color: white;
      }
      .sub-items {
        font-size: 0;
        display: none;
        li {
          width: 50%;
          color: rgba(255, 255, 255, 0.5);
          border-top: none;
          display: inline-block;
          padding: 0 0 45px 0;
          &:last-child {

          }
          a {
            font-size: 18px;
            color: rgba(255, 255, 255, 0.5);
          }
          p {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.5);
            padding: 0 !important;
            span {
              font-family: 'lato-b', sans-serif;
              font-size: 16px;
            }
          }
        }
      }
    }
    .social {
      display: flex;
      //all: inherit;
      justify-content: space-between;
      padding-bottom: 34px;
      a {
        margin-top: 0 !important;
        font-family: 'lato-b', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }

}

.about {
  background-image: url("../img/commonBg.png");
  background-size: cover;
  background-position: bottom;
  //height: 100vh;
  //> .container {
  //  display: flex;
  //  height: 100%;
  //  flex-direction: column;
  //  justify-content: space-between;
  //  padding: 0 0 170px;
  //}
  .sub-icons {
    position: relative;
    width: 90%;
    margin: auto;
    text-align: center;
    background-image: url("../img/shapes.png");
    padding: 90px 0 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &.original {
    p:last-of-type {
      padding: 155px 0 85px;
      line-height: 32px;
    }
  }
  img {
    max-width: 100%;
  }
  .shapes {
    position: absolute;
    width: 100%;
    min-width: 550px;
    top: -90px;
    right: 10px;
  }
}

.text-center {
  text-align: center;
}

.home-section {
  background-image: url("../img/home-bg.png");
  background-position: center;
  background-size: cover;
  .swiper {
    padding: 0 168px 140px;
    /*margin-top: -90px;*/
    .swiper-container {
      padding: 0px 30px 0 0;
    }
    .swiper-slide-prev, .swiper-slide-next, .swiper-slide-active {
      visibility: visible !important;
    }
    .swiper-slide {
      position: relative;
      padding-top: 190px;
      visibility: hidden;
      .image {
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .text {
        position: absolute;
        font-size: 22px;
        top: 50%;
        padding: 30px;
        z-index: 2;
        width: 100%;
        .title {
          font-size: 48px;
          margin-right: -60px;
        }
        span {
          font-family: "Lato-Bold";
        }
        .more {
          background-color: #ffffff;
          color: black;
          padding: 12px 31px 12px 37px;
          font-size: 14px;
          margin-top: 20px;
          display: none;
          position: relative;
          i {
            position: absolute;
            left: -9px;
            top: calc(50% - 10px);
          }
        }
        .play {
          position: absolute;
          top: 30px;
          left: 20px;
          color: $red;
          background-color: #fff;
          border-radius: 50%;
          padding: 15px;
          display: none;
        }
      }
    }
    .swiper-slide-active {
      padding-top: 0;
      &:after {
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        background-color: rgba($red, 0.5);
      }
      .text {
        top: 35%;
        .play, .more {
          display: inline-block;
        }
      }
    }
    .swiper-button-next, .swiper-button-prev {
      bottom: 50px;
      top: auto;
      background-image: none;
      height: auto;
      width: auto;
      &:focus {
        outline: none;
      }
      &:hover {
        color: $red;
      }
    }
    .swiper-button-next {
      left: calc(50% + 20px);
      right: auto;
    }
    .swiper-button-prev {
      right: calc(50% + 20px);
      left: auto;
    }
  }
  .social-h, .scroll {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    transform: rotateZ(180deg);
    font-size: 12px;
    font-family: lato-m;
    a:not(:first-of-type) {
      margin-top: 40px;
    }
    i {
      margin-top: 7px;
    }
    a {
      text-transform: uppercase;
    }
  }
  .scroll {
    right: 0;
    left: auto;
    transform: none;
  }
}

.social-h, .scroll, footer .bottom {
  a {
    &:hover {
      color: #e4364d  !important;
    }
  }
}

.social-tabs {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  left: 0px;
  display: flex;
  justify-content: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  align-items: center;
  transform: rotate(180deg);
  a {
    font-size: 12px;
    font-family: 'lato-m';
    padding: 20px 0;
    margin: 2px 0;
  }
}

.load {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-position: top;
  span {
    display: block;
    margin-top: 50px;
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-family: 'lato-semibold';
    color: #62C1AB;
  }
  .sub-icons {
    padding: 0 0 120px !important;
  }
}

.contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: top;
  background-image: url("../img/commonBg2.png");
  > .container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    > p {
      &:not(.confirm) {
        align-self: flex-start;
      }
      &.confirm {
        flex: 1;
        margin-right: -171px;
        align-self: center;
        width: 100%;
        text-align: center;
        color: $red;
      }
    }
    .contact-section {
      width: 100%;
    }
  }
  header {
    align-self: flex-start;
  }
  form {
    width: 80%;
    float: right;
    margin: 0 -5px;
    > div {
      width: 49%;
      padding: 0 5px;
      margin-bottom: 50px;
      input, textarea {
        width: 100%;
        border: none;
        background: none;
        font-size: 18px;
        font-family: 'get-2-m';
        padding: 10px 0;
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      }
    }
    .message {
      width: 98%;
      textarea {
        height: 90px;
      }
    }
    .frist-input {
      position: relative;
      p {
        font-size: 14px;
        color: $red;
        position: absolute;
        bottom: -30px;
      }
    }
    button {
      background: $red;
      font-size: 16px;
      border: none;
      padding: 10px 40px;
      color: #fff;
      font-family: 'get-2-m', sans-serif;
    }
  }
  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.1);
  }
}

.ball {
  position: absolute;
  top: -120px;
  left: 15%;
}

.red-ball {
  position: absolute;
  bottom: 20px;
  right: 105px;
}

.red-video {
  position: absolute;
  top: 52px;
  right: 40%;
}

.green-video {
  position: absolute;
  bottom: 85px;
  right: 15%;
}


.has-submenu {
  &:hover {
    > a {
      position: relative;
      &:after {
        position: absolute;
        content: '';
        bottom: 0;
        left: calc(50% - 7.5px);
        border-width: 15px;
        border-style: solid;
        border-color: transparent transparent #1e2229 transparent;
      }
    }

    .dropdown {
      display: block;
    }
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: 78%;
  right: 0;
  width: 100%;
  box-shadow: 5px 5px 5px #1b1f25;
  background-color: #1e2229;
  color: rgba(255 ,255, 255, 0.4);
  font-size: 16px;
  .dropdown-categories {
    display: flex;
    flex-wrap: wrap;
    &:after {
      content: '';
      flex: auto;
      border-top: 1px solid #35393f;
    }
    li {
      padding: 32px 0;
      width: calc((100%) / 6);
      display: flex!important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 0 !important;
      border-left: 1px solid #35393f;
      border-top: 1px solid #35393f;

      &:nth-child(6n) {
        border-left: none;
      }
      &:nth-child(-n+6) {
        border-top: none;
      }
      a {
        &:hover {
          color: #fff!important;
        }
      }
      span {
        display: block;
        text-align: center;
        &:first-of-type {
          font-size: 16px;
        }
        &:last-of-type {
          font-size: 14px;
        }
      }
      img {
        align-self: center;
        margin-bottom: 15px;
        max-width: 65px;
      }
    }
  }
}


@media only screen and (max-width: 1440px) {
  .about {
    background-position: center;
  }
}

@media only screen and (max-width: 768px) {
  .video-details {
    padding-bottom: 50px;
    margin-top: 20px;
  }

  .category-videos {
    margin-bottom: 0;
  }

  .category {
    background-image: url("../img/category-bg-re.png");
  }
  .ball {
    top: -70px;
  }
  .red, .green {
    display: none;
  }
  .load {
    .sub-icons {
      background-position: top;
      background-size: 150%;
    }
  }
  .contact {
    > .container {
      > p.confirm {
        margin-right: -85px;
      }
    }
  }
  .cards {
    .card {
      .img-card {
        .over-video {
          height: 40px;
          .hover-card {
            display: block;
            padding: 10px 15px;
          }
        }
      }
    }
  }

  .under-line {
    margin-bottom: 20px;
  }

  .error {
    background-position: center;
  }
  .contact {
    background: #1F232A;
    .container {
      align-content: flex-start;
    }
    form {
      width: 100%;
      > div {
        width: 100%;
        margin-bottom: 30px;
      }
      .frist-input {
        p {
          font-size: 12px;
        }
      }
      input, textarea {
        font-size: 12px !important;
      }
      button {
        font-size: 14px;
      }
      textarea {
        height: 70px !important;
      }
    }
  }
  .load {
    span {
      font-size: 18px;
      font-family: 'lato-b';
    }
  }
  .social-tabs {
    display: none;
  }
  .category {
    .position-relative {
      padding: 0;
      order: 3;
      width: 100%;
      margin: 50px auto;
    }
    .total-videos {
      font-size: 14px;
      span {
        //margin-left: 10px;
      }
    }
    .below-video {
      .ball-icon {
        width: 25px;
        margin-left: 10px;
      }
      span {
        line-height: 1;
      }
    }
    .swiper-button-white {
      bottom: -30px;
      &.swiper-button-next {
        right: calc(50% - 26px);
      }
      &.swiper-button-prev {
        left: calc(50% - 26px);
      }
    }
  }

  .mb-25 {
    margin-bottom: 25px;
    display: inline-block;
  }
  .pb-45 {
    padding-bottom: 45px;
  }

  .error-content {
    max-width: 262px;
  }

  .main-title-font {
    font-family: 'get-2-m';
    font-size: 24px;
  }
  .second-title-font {
    font-family: 'get-2-m';
    font-size: 16px;
  }
  .third-title-font {
    font-family: 'get-2-m';
    font-size: 24px;
  }

  .logo {
    width: 38px;
  }
  .nav {
    display: block;
    padding-top: 20px;
    > div:not(:first-of-type) {
      padding-top: 10px;
    }
    .top {
      .menu {
        display: none;
      }

      .search-icon {
        float: left;
      }
      .icon-bar {
        display: inline-block;
        float: left;
        padding-right: 20px;

      }

    }
    .search-page {
      margin: 50px 0 10px 0;
    }
  }
  footer {
    .logo {
      width: 77px;
    }
    .top {
      display: block;
      padding-top: 50px;
      .sup-category {
        margin-top: 60px;
        ul {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding-right: 0px;
        }
        ul > li {
          display: inline-block;
          width: 50%;
          margin-bottom: 30px;
          padding-left: 15px;
          &:hover span {
            color: $red;
          }
          a {
            color: $black;
            font-size: 18px;
          }
          p {
            color: $black;
            font-size: 16px;
            span {
              padding-left: 0;
              font-family: lato-b;
            }
          }
        }

      }
    }
    .bottom {
      padding: 20px;
      .right {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        a:last-child {
          margin-left: 0;

        }

      }
      .left {

        width: 100%;
        display: flex;
        justify-content: space-between;
        a:last-child {
          margin-right: 0;
        }
      }

    }
  }
  .cards {
    .card {
      width: calc(50% - 16px);
      .img-card {
        max-height: 190px;
        .over-video {
          .title {
            padding: 11px;
          }
        }
      }
    }
  }
  .padding-section {
    padding-top: 40px;
  }
  .subscribe {
    position: relative;
    margin-top: 20px;
    .bg-center {
      background: #1F232A;
      height: 92%;
      top: 0;
    }
    .container {
      display: block;
      .images, .text-container {
        width: 100%;
        z-index: 1;
      }
      .images {
        text-align: center;
        img {
          max-width: 100%;
          z-index: 1;
        }
      }
      .text-container {
        .text {
          width: 100%;
          margin-right: 0;
          form {
            min-width: auto;
          }
          .second-title-font {
            font-family: 'get-2-l', sans-serif;
          }
          .message {
            display: none;
          }
          .social {
            margin: 40px 0 50px 0;
            font-family: lato-b;
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            a {
              color: white;
              &:last-of-type {
                margin-left: 0 !important;
              }

            }
          }
          form {
            font-size: 0;
            display: block;
            margin-top: 20px;
            width: 50%;
            input {
              background: #252D39;
              padding: 10px 10px;
              font-size: initial;
              vertical-align: top;
              width: calc(100% - 50px);
              &::placeholder {
                color: $white-4;
                font-size: 12px;
              }
            }
            button {
              background: white;
              padding: 11px;
              width: 50px;
              i {
                font-size: initial;
              }
            }

          }
        }
      }
    }

  }

  .error-content {
    p {
      &:first-of-type {
        font-size: 12px;
      }
    }
    .error-content {
      font-family: 'get-2-m', sans-serif;
    }
  }

  .about.original {
    p:last-of-type {
      padding: 20px;
      line-height: 24px;
      font-size: 12px;
    }
  }
  .video-section {
    &.open {
      background-size: 100% calc(50% + 80px)
    }
    &.menu-open {
      background-size: 100% 100%;
      background: #1f232a;
    }
    .bg-section {
      height: calc(50% + 55px);
    }
    .title-card {
      padding-top: 20px;
      p {
        color: #1c2026;
        font-size: 16px;
        height: 24px;
        .open {
          background-size: 100% calc(50% + 95px);
        }

      }
    }
    .video-card .over-video {
      height: 40px;
    }

  }

  .home-section {
    .swiper {
      padding: 0 10% 100px;
      margin-top: 0;
      .swiper-container {
        padding: 0 30px 0 0;
      }
      .swiper-slide {
        position: relative;
        padding-top: 0;
        .text {
          font-size: 14px;
          display: none;
          .title {
            font-size: 36px;
          }
        }
      }
      .swiper-slide-active {
        .text {
          display: block;
          padding: 15px;
          .title {
            margin-right: -40px;
          }
          p:nth-child(2) {
            margin-right: -40px;
          }
          .more {
            padding: 12px 16px;
          }
          .play, .more {
            display: inline-block;
          }
        }
      }
      .swiper-button-next, .swiper-button-prev {
        bottom: auto;
        top: calc(50% - 10px);
      }
      .swiper-button-next {
        left: 95%;
        right: auto;
      }
      .swiper-button-prev {
        right: 95%;
        left: auto;
      }
    }
    .social-h {
      display: none;
    }
    .scroll {
      bottom: 50px;
      left: 0;
      right: 0;
      top: auto;
      width: auto;
      height: auto;
      transform: none;
      writing-mode: horizontal-tb;
      a {
        font-size: 10px;
        font-family: lato-b;
      }
    }
  }

  .subscribe {
    .container {
      padding-top: 40px;
    }
    .bg-center {
      top: 0;
      height: 92%;
    }
  }

}

@media only screen and (max-width: 481px) {
  .about {
    .sub-icons {
      padding: 20px 0;
    }
  }
  .cards {
    .card {
      width: calc(100% - 16px);
      .title-card {
        padding-top: 10px;
        overflow: hidden;
        p {
          color: #1c2026;
          height: 25px;
          overflow: hidden;
        }
      }
    }
  }
  .padding-section {
    padding-top: 20px;
  }
  .subscribe {
    .social {
      display: flex;
      justify-content: space-between;
      width: 100% !important;
      a {
        font-family: 'lato-b' !important;
        margin-left: 0 !important;
      }
    }
    form {
      width: 100% !important;
    }
  }

}